**/node_modules/*
bower_components/*
ojet-sample/web
**/themes
**/_tempfiles

/hybrid/platforms
/hybrid/www/*

!hybrid/plugins
hybrid/plugins/*
!hybrid/plugins/fetch.json

.DS_Store
Thumbs.db
*/__pycache__/*
**/*.pyc
**/nohup.out
target
classes
*.class
*.iml
.idea
**/*.iml
**/*.war
**/logs/**
**/out
**/*.log
